PUBLIC_FIREBASE_API_KEY=AIzaSyD_WqflJMSyHNdxwvl9xKCh_6TfRJ1dOc4
PUBLIC_FIREBASE_AUTH_DOMAIN=spendwise-a3a98.firebaseapp.com
PUBLIC_FIREBASE_PROJECT_ID=spendwise-a3a98
PUBLIC_FIREBASE_STORAGE_BUCKET=spendwise-a3a98.firebasestorage.app
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=396063131967
PUBLIC_FIREBASE_APP_ID=1:396063131967:web:68004015a61b1d0005ab8a